* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  padding: 2em 10vw;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar li {
  margin-left: 1em;
}

img {
  width: 7em;
}

.homie {
  color: peru;
}

#home {
  width: 100vw;
  background-image: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn {
  font-size: 22px;
  padding: 0.6em 2.8em;
  color: white;
  background-color: rgb(145, 89, 66);
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 2em;
}

.button {
  margin-top: 5em;
  margin-left: 10vw;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 7em;
  position: relative;
}

.h1 {
  font-size: 4em;
  color: lightsalmon;
  margin-left: 10vw;
}

.k {
  transform: rotate(-90deg);
  display: block;
  background-color: lightsalmon;
  border-radius: 55px;
  padding: 1.3em 2.9em;
  font-size: 1.3em;
}

.KING {
  display: flex;
  align-items: center;
  margin-right: 10vw;
}

.line {
  padding: 0.6em;
  background-color: rgb(145, 89, 66);
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  position: absolute;
  right: 0;
  height: 100%;
}

.baseline {
  display: flex;
  margin-top: 11.4em;
  margin-left: 10vw;
  margin-right: 10vw;
}

.line1 {
  padding: 0.8em;
  background-color: rgb(145, 89, 66);
  width: 55%;
  border-top-left-radius: 25px;
}

.line2 {
  padding: 0.8em;
  background-color: lightsalmon;
  width: 45%;
  border-top-right-radius: 25px;
}

/* ABOUT */

#about {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flexx {
  display: flex;
  justify-content: space-between;
  margin-top: 6em;
}

.text {
  font-size: 3em;
  text-align: center;
  color: #fff;
}

.line3 {
  padding: 0.6em;
  background-color: lightsalmon;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
}
.line4 {
  padding: 0.6em;
  background-color: rgb(145, 89, 66);
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
}

.button1 {
  margin-top: 6em;
  text-align: center;
}

/* CONTACT */

.flexxx {
  display: flex;
  justify-content: space-between;
  /* width: 100vw; */
  margin-top: 3em;
}

.line5 {
  padding: 0.6em;
  background-color: lightsalmon;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
}
.line6 {
  padding: 0.6em;
  background-color: lightsalmon;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
}

.baseline1 {
  padding: 0.7em;
  background-color: rgb(145, 89, 66);
  margin-top: 5.8em;
  margin-left: 39vw;
  margin-right: 39vw;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

.btnn {
  font-size: 12px;
  padding: 1.2em 2em;
  color: white;
  background-color: rgb(145, 89, 66);
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: none;
  margin-top: 2em;
  /* text-align: center; */
}

.form-wrap button:hover {
  background: rgb(97, 52, 34);
}

#container1 {
  margin: 2em auto;
  /* max-width: 400px; */
  /* padding: 1.5em; */
}

.form-wrap {
  background-color: lightsalmon;
  padding: 1em 3em;
  border-radius: 40px;
}

.form-wrap .form-group {
  margin-top: 1.3em;
}

.form-wrap .form-group input {
  width: 100%;
  padding: 1.2em;
  border-radius: 25px;
  border: none;
  outline: none;
  font-family: inherit;
  background-color: #ffffffb6;
  padding-left: 25px;
  opacity: 0.6;
}

.form-wrap .form-group textarea {
  border-radius: 25px;
  outline: none;
  width: 100%;
  padding: 1em 2em;
  resize: none;
  font-family: inherit;
  background-color: #ffffffb6;
  border: none;
  opacity: 0.6;
}

#form {
  text-align: center;
}

::placeholder {
  color: black;
}
